*{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: "Verdana", Sans-serif;
  text-align:center;
  color:#40798C;
  background-color:#EEF0F2;
}

header{
  font-family: "Copperplate",Fantasy;
  padding: 40px;
  font-size:30px;
  letter-spacing:2px;
  color:#261C15;
  background-color: #40798C;
}

main{
  margin-left: 5%;
  margin-right: 5%;
}

ul {
  list-style-type: none;
  overflow: hidden;
  padding: 6px;
  background-color:#C6C7C4;
}

li a{
  text-decoration: none;
  font-size: 20px;
  padding: 6px 10px;
  color:#6396BA;
}

li a:hover{
  background-color: #002E5F;
}

h1{
  color: #261C15;
}

h2 {
  text-decoration: underline; 
}

p{
  font-size:20px;
  padding: 10px 0px 50px;
  color:#40798C;
}

.navBar {
  display: inline;
}

.alignLeft {
  text-align: left;
}

.split {
  display: flex;
}

.split > div {
  width: 50%;
}

.unevenSplit {
  display: flex;
  flex-wrap: wrap;
}

.left-column {
  flex: 1;
}

.right-column {
  flex: 2;
}

.subTitle {
  color: #40798C;
}

.schoolInfo {
  background-color: #EEF0F2;
}

.portfolioImg{
  border-radius:5px;
  margin: 10px;
  border: 3px dotted #261C15;
  max-width: 60%;
}

.pdf {
  width: 80%;
  aspect-ratio: 4 / 3;
}

.unevenImg {
  border-radius:5px;
  margin:10px;
  border: 3px dotted #261C15;
  width: 90%;
  height: 80%;
  object-fit: fill;
}

#homeImg {
  border-radius:5px;
  margin: 10px;
  border: 3px dotted #40798C;
}

#homeIntro{
  font-family: "Helvetica", Sans-serif;
  font-size:25px;
}

#skill{
  list-style-type: disc;
  margin-left: 40px;
  line-height: 1.6;
  font-size: 16px;
}
